
.todo-form {
    padding: 10px;
    width: 300px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}
.todo-form input{
    font-family: 'Concert One','Dovemayo_gothic', sans-serif;
    height: 40px;
    border: 0px;
    background-color: rgba(0,0,0,0);
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
}
.todo-form input:first-child{
    width: 200px;
    text-align: center;
}
.todo-form input:last-child{
    font-size: 25px;
}

.todo-form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
}
.todo-list{
    margin-bottom: 30px;
}
.todo-list button{
    margin-left: 20px;
    border: 0;
    background-color: rgba(0,0,0,0);
}
